
.ReactTable .-pagination button {
  margin: 0;
}


@media all and (max-width: 1000px) {
  .idyll-root {
    max-width: none;
    padding: 0;
  }
}


@media all and (max-width: 800px) {
  .idyll-root {
    max-width: none;
    padding: 0;
  }

}

#pipeline {
  margin-left: calc(50% + 32px);
}

@media only screen and (max-width: 1000px) {
  #pipeline {
    margin-left: 0;
  }  
}

.packet-animated {
  animation-name: packet-animation;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes packet-animation {
  100% { stroke-dashoffset: 0; }
}

.radio-animated {
  animation-name: radio-animation;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes radio-animation {
  50% { stroke: #363636 }
  75% { stroke: white }
  100% { stroke: #363636 }
}

/* TODO FIX THIS FOR MOBILE (This is a hack) */

.idyll-scroll {  
  transform: translateX(-50px);
}

.map-tooltip {
  background: #fff;
  border: solid 1px #222;
  font-family: 'Graphik Web';
  font-size: 14px;
  line-height: 18px;
  padding: 0.5em;
  font-weight: 400;
}

.emphasized {
  font-weight: bold;
}

.terms {
  font-weight: bold;
  font-style: italic;
}